:root {
  --text-main: yellowgreen;
  --text-main-2: crimson;
  --line-main: crimson;
  --tmp-line: crimson;
  --hover-main: crimson;
  --hover-text: yellowgreen;
  --main-dark: rgb(34, 30, 33);
}
:link,
:visited {
  color: inherit;
  text-decoration: none;
}
::-webkit-scrollbar {
  background-color: var(--main-dark);
  border-right: 1px solid var(--line-main);
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--hover-main);
}
body {
  background-color: var(--main-dark);
  margin: 0;
  padding: 0;
  color: var(--text-main);
}

img {
  height: 30px;
}

h1 {
  margin: 0;
}

button {
  border: 1px solid crimson;
  background: none;
  color: crimson;
}

.left-bar {
  height: 100vh;
  width: 20vw;
  position: fixed;
  overflow-y: scroll;
  color: var(--text-main-2);
}

.left-bar-title {
  border-bottom: 2px solid var(--line-main);
  text-align: center;
  color: var(--text-main-2);
  font-size: 26px;
}

.titlePoint {
  color: var(--text-main);
  display: inline;
}

.left-bar-title:hover {
  background-color: var(--hover-main);
  color: var(--hover-text);
  cursor: pointer;
}

.left-bar-title h2 {
  width: 240px;
  text-decoration: none;
  margin: auto;
  padding: 30px;
}

.left-bar-title h2 img {
  margin-right: 10px;
}

.left-bar-item {
  border-bottom: 2px solid var(--line-main);
}

.left-bar-item-inner {
  margin-left: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-bar-item:hover {
  background-color: var(--hover-main);
  color: var(--hover-text);
  height: 80px;
  font-size: 20px;
}

.left-bar-item-inner h4 {
  margin-left: 10px;
}

.right-page {
  float: right;
  display: flex;
  flex-direction: column;
  color: var(--text-main-2);
  min-height: calc(100vh - 1px);
}

.right-upper {
  border: 1px solid var(--tmp-line);
  height: 20vh;
}

.right-upper-inner {
  border: 1px solid var(--tmp-line);
  width: 65vw;
  height: 15vh;
  padding-top: 5vh;
  margin: auto;
  display: flex;
}

.searchBar-out {
  border: 1px solid var(--line-main);
  border-radius: 5px;
  margin: auto;
  width: 35vw;
  height: 40px;
  margin-top: 20px;
  display: flex;
}

.searchBar {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 35vw;
  margin: 0 10px;
  color: var(--hover-text);
  font-size: 20px;
  padding: 0;
}

.searchBar:focus {
  outline: none;
}

.searchBar::placeholder {
  color: var(--text-main);
  font-size: 20px;
}

.searchButton {
  border: none;
  background-color: transparent;
  color: var(--text-main);
  cursor: pointer;
  width: 25px;
}

.search-dropdown {
  position: absolute;
  margin-top: 40px;
  border: 1px solid crimson;
  width: 34.9vw;
  background-color: var(--main-dark);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 390px;
  overflow-y: scroll;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top: 1px solid crimson;
  justify-content: space-between;
}

.dropdown-item h4 {
  display: flex;
}

.selectIcon {
  color: yellowgreen;
  font-size: 20px;
  margin-left: 5px;
  display: block;
}

.right-upper-left {
  position: absolute;
  width: 160px;
  height: 80px;
  display: flex;
  margin-left: 6vw;
  justify-content: space-between;
}

.right-upper-right {
  position: absolute;
  width: 160px;
  height: 80px;
  margin-left: 51vw;
  display: flex;
  justify-content: space-between;
}

.right-upper-write {
  margin-top: 20px;
  height: 60px;
  width: 100px;
  text-align: center;
  background-color: transparent;
  color: crimson;
  cursor: pointer;
}

.right-upper-write span {
  margin: auto;
  border: 1px solid crimson;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-upper-write p {
  margin: 0;
}

.right-bottom {
  border: 1px solid var(--tmp-line);
  width: 80vw;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right-bottom-title {
  margin-bottom: 15px;
}

.list-of-posts h1 {
  margin-bottom: 10px;
}

.right-bottom-inner {
  border: 1px solid var(--tmp-line);
  width: 65vw;
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.miniBtnContainer {
  display: flex;
}

.miniBtn {
  height: 44px;
  cursor: pointer;
}

.right-bottom-inner-bottom {
  height: max-content;
  flex: 1;
}

.right-bottom-content {
  height: max-content;
  padding: 50px;
}

.right-bottom-content-inner {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: auto;
}

.loginBtn {
  margin-top: 30px;
  height: 50px;
  margin-bottom: 20px;
}

.loginBtn:disabled {
  cursor: not-allowed;
  background-color: yellowgreen;
}

.right-bottom-content-inner input {
  border: 1px solid red;
  background: none;
  font-size: 20px;
  color: yellowgreen;
}

.right-bottom-content-inner input:focus {
  outline: none;
}

.right-bottom-content-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 1 0 21%;
  border: 1px solid var(--line-main);
  border-radius: 20px;
  padding: 10px;
  height: 240px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
}

.cardImg {
  padding-right: 5px;
}

.card:hover {
  background-color: var(--hover-main);
  color: var(--hover-text);
}

.card h2 {
  margin-top: 5px;
  margin-left: 5px;
  padding-bottom: 15px;
  display: flex;
  border-bottom: 1px solid red;
}

.card:hover .card h2 {
  border-color: var(--hover-text);
}

.card h2 img {
  margin-right: 3px;
}

.mainPage-postBlock {
  margin: 10px;
}

.mainPage-postBlock p {
  margin: 0;
}

.right-bottom-inner-top {
  border: 1px solid var(--line-main);
  height: 200px;
}

.title {
  border: 1px solid var(--tmp-line);
  margin: 20px 20px;
  display: flex;
  padding-left: 10px;
}

.title h1 {
  margin-left: 10px;
}

.title h4 {
  margin-left: 30px;
}

.title input {
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  font-size: 32px;
  color: crimson;
  width: max-content;
  flex: 1;
  border: none;
}

.title input:focus {
  outline: none;
}

.under-title {
  border: 1px solid var(--tmp-line);
  display: flex;
}

.left-bar-item-inner h2 {
  margin: 15px;
}

.hidden {
  display: none;
}

.dropdown-categories {
  position: absolute;
  width: 450px;
  border: 1px solid crimson;
  border-radius: 10px;
  background: var(--main-dark);
}

.dropdown-category {
  border: 1px solid crimson;
  border-radius: 50px;
  display: flex;
}

.dropdown-category img {
  margin-left: 5px;
}

.dropdown-category p {
  margin: 5px;
}

.right-post-item-right {
  border: 1px solid var(--tmp-line);
  width: 30vw;
  float: right;
  margin: 20px 20px;
}

.right-post-item-container {
  display: flex;
}

.publish {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  width: 15vw;
  cursor: pointer;
  background: crimson;
  color: var(--main-dark);
}

.circles-container {
  float: right;
  border: 1px solid var(--tmp-line);
  width: 30vw;
  color: var(--tmp-line);
  max-height: 43px;
  overflow: hidden;
}

.date-and-time {
  float: right;
  border: 1px solid var(--tmp-line);
  text-align: end;
  width: 30vw;
  margin: 0;
}

.right-post-item {
  border: 1px solid var(--tmp-line);
  margin: 20px 20px;
  width: 30vw;
}

.right-bottom-content {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

.postImg {
  height: initial;
}

.writePostImg {
  height: initial;
  margin-bottom: 30px;
}

.markdown-guide {
  position: absolute;
  position: fixed;
  margin-left: 72.6vw;
  border: none;
  height: 100vh;
  width: 7.5vw;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  border-left: 1px solid crimson;
}

.markdown-guide-content {
  position: absolute;
  position: fixed;
  margin-left: 32vw;
  background: var(--main-dark);
  border: 1px solid crimson;
  height: 100vh;
  width: 41vw;
  z-index: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}

.guide-left,
.guide-right {
  padding: 10px;
  width: 19vw;
  height: max-content;
}

.guide-right {
  border-left: 1px solid crimson;
}

.guide-top {
  border-bottom: 1px solid crimson;
  text-align: center;
}

.guide-right pre {
  margin: 0;
  font-family: inherit;
}

.right-bottom-content textarea {
  flex: 1;
  background-color: transparent;
  color: crimson;
  height: 150vh;
  font: inherit;
  border: none;
}

.right-bottom-content textarea:focus {
  outline: none;
}

.singlePost {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--line-main);
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.singlePost__title {
  margin: 0;
}
